.menu_header {
    background-color: rgb(43, 43, 43);
    position: fixed;

    padding-right: 100%;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.wg_header_txt {
    font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(20, 82, 255);
    font-weight: bold;
    font-size: xx-large;
    /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;*/
    text-shadow: 0 0 3px #228DFF, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 10px #228DFF, 0 0 10px #228DFF;
}

.home_link_header {
    text-decoration: none;
}
.home_link_header:hover {
    text-decoration: none;
    text-shadow: 0 0 3px #3b9aff, 0 0 20px  #3b9aff, 0 0 20px  #3b9aff, 0 0 20px  #3b9aff, 0 0 20px  #3b9aff, 0 0 20px  #3b9aff, 0 0 20px #3b9aff, 0 0 20px #3b9aff;
    transition: 0.8s;
}

.header_buttons {
    background-color: rgba(44, 44, 44, 0.397);
    border-radius: 30px;
    border: 1px;
    border-color: blue;
}
